.edit-profile-screen {
  height: 100dvh;
}

.edit-profile-main-content {
  min-height: 0;
}

.overflow-content {
  overflow-y: scroll;
  overflow-x: hidden;
}

.background-primary-color {
  background-color: #2541b2;
}

.edit-profile-card {
  width: 768px;
  height: 95dvh;
}

.edit-profile-header {
  height: 100px;
}

.edit-profile-footer {
  height: 50px;
}
