.sidebar-menu {
  width: 150pt !important;
}

.text-bold {
  font-weight: bold;
}

.profile-overview-user-information {
  background-color: #2541B2;
  height: 220px;
}

.dropdown-menu {
  width: 200px;
}