.profile-overview-head-section {
  background-color: #2541b2;
  height: 86px;
  color: white;
  font-size: x-large;
  font-weight: 500;
}

.profile-overview-offcanvas {
  max-width: 230px;
}

.offcanvas-menu-icon {
  width: 40px;
}

.offcanvas-close-icon {
  width: 50px;
}

.user-information {
  margin-top: 30pt;
  margin-left: 12pt;
}

.user-name {
  font-size: large;
  font-weight: 500;
}

.user-identifier {
  font-size: small;
}

.offcanvas-item-button {
  height: 50px;
}

.offcanvas-item-button:hover {
  background-color: #f3f2f2;
  border-color: #f3f2f2;
}

.offcanvas-item-button:active {
  background-color: #d8d8d8 !important;
  border-color: #d8d8d8 !important;
}

.offcanvas-item-button-icon {
  width:24px;
  margin-left: 8pt;
}

.offcanvas-signout-icon {
  width:28px;
  margin-left: 9pt;
}

.edit-profile-round-button {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.edit-profile-round-icon {
  width: 28px;
}

.preferences-card-stack {
  max-width: 450px;
}

.no-bottom-margin {
  margin-bottom: 0pt;
}
