.profile-overview-screen {
  height: 100dvh;
}

.profile-overview-head-section {
  background-color: #2541b2;
  height: 100px;
}

.profile-overview-heading {
  color: white;
  font-size: x-large;
  font-weight: 500;
}

.edit-profile-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.edit-profile-icon {
  width: 37px;
}

.preferences-card-stack {
  max-width: 450px;
}