.profile-overview-screen {
  height: 100vh;
}

.profile-overview-head-section {
  background-color: #2541b2;
  height: 100px;
}

.profile-overview-heading {
  color: white;
  font-size: x-large;
  font-weight: 500;
}

.edit-profile-button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
