.select-provider-stack {
  width: 250px;
}

.select-provider-heading {
  font-size: large;
  font-weight: 500;
}

.login-screen-button {
  height: 50px;
  border-radius: 12px;
}

.provider-button {
  display: flex;
  align-items: center;
}

.provider-icon {
  height: 27px;
}

.solid-button {
  background-color: #7c4dff;
  border-color: #7c4dff;
}

.solid-button:hover,
.solid-button:active {
  background-color: #6933ff !important;
  border-color: #6933ff !important;
}

.solid-icon {
  height: 33px;
}

.providers-divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.providers-divider span {
  background: white;
  padding: 0 25px;
}

.more-providers {
  width: 175pt;
  animation: fade-in 1s;
}

.facebook-button {
  background-color: #1877f2;
  border-color: #1877f2;
}

.google-button {
  background-color: white;
  border-color: #5a58588a;
  color: black;
}

.google-button:hover,
.google-button:active {
  background-color: white !important;
  border-color: #5a58588a !important;
  color: black !important;
}
