.select-solid-provider {
  height: 45px;
}

.login-solid-back-button {
  background-color: #575c55;
  border-color: #575c55;
}

.login-solid-back-button:hover,
.login-solid-back-button:active {
  background-color: #50534f !important;
  border-color: #50534f !important;
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
