.dietary-preferences-form-screen {
  height: 100dvh;
}

.form-small-screen-container {
  padding-top: 13px;
  padding-bottom: 13px;
}

.dietary-preferences-form-card {
  width: 768px;
  height: 95dvh;
}

.form-main-content {
  min-height: 0;
}

.overflow-content {
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -12px;
}

.background-primary-color {
  background-color: #2541b2;
}

.dietary-preferences-form-select {
  width: 275px;
}

.form-group-heading {
  font-size: large;
  font-weight: 500;
  padding-bottom: 4pt;
}
