.select-login-method-stack {
  width: 250px;
}

.select-login-method-heading {
  font-size: large;
  font-weight: 500;
}

.login-screen-button {
  height: 50px;
  border-radius: 12px;
}

.provider-icon {
  height: 27px;
}

.solid-button,
.solid-button:disabled {
  background-color: #7c4dff;
  border-color: #7c4dff;
}

.solid-button:hover {
  background-color: #6933ff;
  border-color: #6933ff;
}

.solid-button:active {
  background-color: #5b21fc !important;
  border-color: #5b21fc !important;
}

.solid-icon {
  height: 33px;
}

.login-screen-divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.login-screen-divider span {
  background: white;
  padding: 0 25px;
}

.facebook-button {
  background-color: #1877f2;
  border-color: #1877f2;
}

.google-button {
  background-color: white;
  border-color: #5a58588a;
  color: black;
}

.google-button:hover,
.google-button:active {
  background-color: white !important;
  border-color: #5a58588a !important;
  color: black !important;
}
