.login-row {
  width: 200pt;
}

.solid-button-login-redirect {
  margin-top: 20pt;
}

.select-provider {
  width:auto;
}

.solid-button {
  width: 175px;
  height: 50px;
  background-color: #7C4DFF;
  border-color: #7C4DFF;
}

.solid-button:hover, 
.solid-button:active:focus {
  background-color: #6933ff;
  border-color: #6933ff;
}

.login-solid-button {
  width:100px;
  background-color: #7C4DFF;
  border-color: #7C4DFF;
}

.login-solid-button:hover,
.login-solid-button:active:focus {
  background-color: #6933ff;
  border-color: #6933ff;
}

.sign-in-with-email-button {
  width: 175px;
  height: 50px;
  background-color: #6c757d;
  border-color: #6c757d;
}

.sign-in-with-email-button:hover,
.sign-in-with-email-button:active:focus {
  background-color: #5f666d;
  border-color: #5f666d;
}

.login-provider-icon {
  width: 35px;
}

.log-in-container {
  height: 25vh;
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.link-no-decoration {
  text-decoration: none;
}

.fade-in {
  animation: fade-in 1s;
}

.media-style {
  font-size: 40pt;
}

.about-link {
  font-size: 14pt;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@media (min-width: 577px) {
  .media-style {
    font-size: 10pt;
  }

  .about-link {
    font-size: 12pt;
  }

  .solid-button {
    height: 38px;
    background-color: #7C4DFF;
    border-color: #7C4DFF;
  }

  .sign-in-with-email-button {
    height: 38px;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .solid-button-login-redirect {
    margin-top: 0pt;
  }

  .login-row {
    width: 300pt;
  }
}
