.solid-button {
  width: 175px;
  height: 50px;
  background-color: #7C4DFF;
  border-color: #7C4DFF;
}

.login-solid-button {
  background-color: #7C4DFF;
  border-color: #7C4DFF;
}

.solid-button:hover {
  background-color: #6933ff;
  border-color: #6933ff;
}

.login-solid-button:hover {
  background-color: #6933ff;
  border-color: #6933ff;
}

.sign-in-with-email-button {
  width: 100%;
  background-color: #6c757d;
  border-color: #6c757d;
}

.sign-in-with-email-button:hover {
  background-color: #5f666d;
  border-color: #5f666d;
}

.login-provider-icon {
  width: 35px;
}

.log-in-container {
  height: 25vh;
}

.sign-in-row {
  width: 75vw;
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.link-no-decoration {
  text-decoration: none;
}

.example-style {
  animation: fade-in 3s;
}

.media-style {
  font-size: 40pt;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@media (min-width: 577px) {
  .media-style {
    font-size: 10pt;
  }
}