.solid-button {
  width: 100%;
  background-color: #7C4DFF;
  border-color: #7C4DFF;
}

.solid-button:hover {
  background-color: #6A35FF;
}

.google-button {
  width: 100%;
}

.login-provider-icon{
  width: 35px;
}
