.sign-in-stack {
  width: 60vw;
}

.choose-provider-question {
  cursor: pointer;
  color: #2929ff;
}

.choose-provider-question:hover {
  color: #0308b1;
  text-decoration: underline;
}

.how-to-choose-provider {
  cursor: pointer;
}

.how-to-choose-provider:hover {
  text-decoration: underline;
}

.show-more-providers {
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
