.application-logo {
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select-provider-card {
  width: 320px;
  height: 365px;
}

.login-screen-row {
  height: 100dvh;
}

.select-provider-login-col {
  background-color: #2541b2;
}

.link-without-decoration {
  text-decoration: none;
  color: black;
}

.clickable-text {
  cursor: pointer;
}
