.application-logo {
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-screen-row {
  height: 100dvh;
}

.choose-sign-in-method-col {
  background-color: #2541b2;
}

.link-without-decoration {
  text-decoration: none;
  color: #212529;
}

.clickable-text {
  cursor: pointer;
}

.clickable-text:hover {
  color: #3b3b3b;
}

.login-error-warning-icon {
  height: 50px;
}
