.application-logo {
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select-provider-stack {
  width: 250px;
}

.select-provider-stack-small-screen {
  height: 650px;
}

.select-provider-stack-large-screen {
  height: 315px;
}

.select-provider-card {
  width: 320px;
}

.login-screen-row {
  height: 100dvh;
}

.select-provider-login-col {
  background-color: #2541b2;
  display: flex;
  align-items: center;
}

.link-without-decoration {
  text-decoration: none;
  color: black;
}

.clickable-text {
  cursor: pointer;
}
