.solid-login-button {
  background-color: #7c4dff;
  border-color: #7c4dff;
}

.solid-login-button:hover,
.solid-login-button:active:focus {
  background-color: #6933ff;
  border-color: #6933ff;
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
