.application-logo {
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select-provider-stack {
  width: 250px;
}

.select-provider-card {
  width: 320px;
}

.select-provider-login-col {
  height: 100vh;
  background-color: #2541b2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-without-decoration {
  text-decoration: none;
  color: black;
}

.clickable-text {
  cursor: pointer;
}
