.select-provider-stack {
  width: 60vw;
}

.select-provider-button {
  height: 40pt;
  width: 105pt;
}

.solid-button {
  background-color: #7c4dff;
  border-color: #7c4dff;
}

.solid-icon {
  height: 25pt;
}

.why-solid {
  cursor: pointer;
}

.why-solid:hover {
  text-decoration: underline;
}
