.select-provider-heading {
  font-size: large;
  font-weight: 500;
}

.provider-button {
  height: 49px;
  border-radius: 12px;
}

.provider-icon {
  height: 27px;
}

.solid-button {
  background-color: #7c4dff;
  border-color: #7c4dff;
}

.solid-button:hover,
.solid-button:active:focus {
  background-color: #6933ff;
  border-color: #6933ff;
}

.solid-icon {
  height: 33px;
}

.why-solid-text {
  cursor: pointer;
}

.why-solid-text:hover {
  text-decoration: none;
}

.providers-divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.providers-divider span {
  background: #fff;
  padding: 0 25px;
}
