.welcome-screen-stack {
  width: 75vw;
}

.welcome-screen-button {
  width: 175pt;
  height: 40pt;
}

.create-profile-stack {
  height: 100dvh;
}

.create-profile-navigation-button {
  height: 48px;
  border-radius: 12px;
  width: 100%;
}