.welcome-screen-stack {
  width: 75vw;
}

.welcome-screen-button {
  width: 175pt;
  height: 40pt;
}

.create-profile-stack {
  height: 100dvh;
}

.create-profile-navigation-button {
  height: 40px;
  border-radius: 12px;
  width: 100%;
}

.app-primary-color-button {
  background-color: #2541b2;
  color: white;
  border-color: #2541b2;
}

.app-primary-color-button:hover,
.app-primary-color-button:active:focus {
  background-color: #1c3bb8;
  border-color: #1c3bb8;
}

.app-secondary-color-button {
  background-color: #252323;
  color: white;
  border-color: #252323;
}

.app-secondary-color-button:hover,
.app-secondary-color-button:active:focus {
  background-color: #222020;
  border-color: #222020;
}

.user-preferences-controls {
  height: 55dvh;
}

.onHoverPointer {
  cursor: pointer;
}
