.allergen-icon {
  width: 20pt;
}

.carouselImgContainer {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
}

.allergenDepiction {
  max-width: 100%;
}

.legendNumberText {
  color: #6c757d;
  font-size: smaller;
}
