.form-control {
  border-color: #575151;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #575151;
}

.secondary-button {
  background-color: #252323;
  border-color: #252323;
}

.secondary-button:hover {
  background-color: #302d2d;
  border-color: #302d2d;
}

.secondary-button:active {
  background-color: #1d1b1b !important;
  border-color: #1d1b1b !important;
}